[Unit]
Description= program to play random audio clips

[Service]
WorkingDirectory= /home/pi/gex_phrases
ExecStart= python3 "main.py"
Type = exec

Restart=always
StandardOutput=file:/home/pi/gex_phrases.log
StandardError=inherit

[Install]
WantedBy = multi-user.target
